
:root{
  
  --f-color: #171717;
  --s-color: #4D4D4D;
  --t-color: #232323;
  
  
  --g-color: 45deg, #FFFFFF, #2EFFF5;
}




*{
  padding: 0;
  margin: 0;
}



/*          nav bar.     */
.header{
  height: 10vh;
  width: 100vw ;
  background: var(--f-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #00F2FF;
}

.logo{
  height: 40px;
  background-image: url('logo.JPG');
  background-size: cover;
  width: 80px;
  background-color: #0015FF;
  position: relative;
  box-shadow: 0.5px 0.5px 5px #2EFFF5;
  border-radius: 10px;
}

.nt {
  height: 80%;
  width: 70%;
  background-color: transition;
  position: relative;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 60px;
  font-weight: bold;
}
.name{
  height: 100%;
  width: 75%;
  background-color: transparent;
  color: #60FDFF;
  position: relative;
  border-radius: 20px;
  text-shadow: 1px 1px 10px #FFFFFF;
  display: flex;
  align-items: center;
  font-size: 50%;
  font-weight: bold;
  
}

.offtoggle{
  height: 45px;
  width: 45px;
  background-color: #FF0000;
  background-image: url('offtgl.JPG');
  background-size: cover;
  transition: 1s;
  position: relative;
  border-radius: 10px;
  border: solid #00FF21 1px;
}


.ontoggle{
  height: 40px;
  width: 40px;
  transition: 1s;
  background-color: #FF0000;
  background-image: url('onntgl.JPG');
  background-size: cover;
  position: relative;
  border-radius: 10px;
  border: solid #FF0000 1px;
}
/*           body.              */

.body{
  height: 90vh;
  width: 100vw;
  background: #2B7EFF;
  position: absolute;
  overflow: hidden;
}


.options{
  height: 100%;
  width: 25%;
  background-color: transparent;
  flex-direction: column;
  display: flex;
  position: absolute;
  z-index: 2;
  align-items: center;
  justify-content: space-evenly;
  transform: translate(0%);
  transition: transform 1s;
}

.show_option{
  transform: translate(-100%);
}


.lbox{
  height: 50px;
  width: 50px;
  background-color: #FF00BF;
  border-radius: 15px;
  transition: 1s;
  border: 0.5px solid #00BFFF;
  box-shadow: inset 3px 3px 10px #60EAFF,inset -3px -3px 10px #60EAFF;
}

.lbox:hover{
  height: 55px;
  width: 55px;
  box-shadow: 3px 3px 10px #F4FFEF, -3px -3px 10px #00FFEB;
}

.lbox{
  
  background-image: url('drive.JPG');
  background-size: cover;
}

.mainbox{
  height: 100%;
  width: 75%;
  margin-left: 25%;
  position: ;
  z-index: 1;
  background-color: transparent;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transform: translate(0%);
  transition: transform 1s;
}

.show_mainbox{
  transform: translate(100%)
}

.mlink{
  height: 45px;
  width: 80%;
  background: linear-gradient( var(--g-color));
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: 1s;
  transform: translate(130%);
  border: 0.5px solid;
  box-shadow: 3px 3px 10px #99EEFF;
}

.show_mlink1{
  transform: translate(0%);
}

.show_mlink2 {
  transform: translate(0%);
}

.show_mlink3 {
  transform: translate(0%);
}

.show_mlink4 {
  transform: translate(0%);
}

.show_mlink5 {
  transform: translate(0%);
}


.togglelogos{
  z-index: 3;
  height: 65%;
  width: 20%;
  margin-left: 80%;
  margin-bottom: 35%;
  background-color: transparent;
  position: absolute;
  transform: translate(0% ,-100%);
  transition: 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.togglelogos_show{
  transform: translate(0%);
}







.tlogo{
  height: 50px;
  width: 50px;
  box-shadow: #ACE0FF;
  box-shadow: inset 3px 3px 10px #FFFFFF,inset -3px -3px 10px #FF02E3;
}


.tlogo1{
  background-image: url('tgram.JPG');
  background-size: cover;
  background-color: #00FF26;
  border-radius: 15px;
  position: ;
  transition: 1s;
}

.tlogo2{
  
  
  background-image: url('igram.JPG');
  background-size: cover;
  border-radius: 15px;
  background-color: #00FF4F;
  position: ;
  transition: 1s;
}


.tlogo3{
  
  background-image: url('lding.JPG');
  background-size: cover;
  background-color: #00FF4F;
  position: ;
  border-radius: 15px;
  transition: 1s;
}

.tlogo4{
  
  background-image: url('fbook.JPG');
  background-size: cover;
  background-color: #00FF4F;
  position: ;
  border-radius: 15px;
  transition: 1s;
}


.toggleoptn{
  height: 65%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 35%;
  background-color: transparent;
  position: absolute;
  z-index: 3;
  display: flex;
  overflow: hidden;
  transform: translate(150% ,0%);
  transition:  1s;
  flex-direction: column;
  align-items: center;
  animation: toptn 2.5s ;
  justify-content: space-evenly;

}

.show_toggleoptn{
  transform: translate(0% ,0%);
}


.comn{
  height: 45px;
  width: 90%;
  background-color: #00FFD9;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  position:;
  transform: translate();
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: op 2s;
  transition: 1s;
  box-shadow: 3px 3px 10px #5CACFF;
  background: linear-gradient(var(--g-color));

}


.a{
  text-decoration: none;
  color: #FFFFFF;
  text-shadow: #000000 1px 1px 5px;
  font-size: 20px;
  border-radius: 20px;
  font-weight: bold;
  animation: to 2s;
}

